TEAM_ID=

PRODUCT_NAME=SampleProject
PRODUCT_BUNDLE_IDENTIFIER=com.sample.project.SampleProject$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// Kotlin may use short SDK folder names (iphoneos / iphonesimulator) even when Xcode’s $(SDK_NAME) includes a version suffix
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME) $(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/iphoneos $(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/iphonesimulator
SWIFT_FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME) $(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/iphoneos $(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/iphonesimulator

OTHER_LDFLAGS = $(inherited) -framework ComposeApp